html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
font-family: Verdana, Geneva, sans-serif; 
line-height: 1.5;
}
img {
  max-width:100%;
  height:auto;
}
h1{
font-variant: small-caps;
text-decoration: underline;
}
.visuallyhidden {
border: 0;
clip: rect(0 0 0 0);
height: 1px;
margin: -1px;
overflow: hidden;
padding: 0;
position: absolute;
width: 1px;
white-space: nowrap; 
}

.container {
max-width: 400px;
margin: 0 auto;
}

body {
background: #efefef;
color: #073D2C;
}
a:link{
color:#58D6AE;
}
a:visited{
color:#AF8586;
}

.container{
margin:0 auto;
background:rgba(0,0,0,.2)
}

nav.primary{
display:grid;
grid-template-columns: repeat(4, 1fr);
padding: 20px 20px 0px 20px;
}

nav a:link, nav a:visited{
border: 1px solid #073D2C;
padding: 3px 12px;
text-align: center;
text-decoration:none;
color: #58D6AE;
text-transform: uppercase;
font-size: 0.85em;
background: rgba(0,0,0,0.5);
transition: background-color 0.5s ease;
color: #86B051;
}

nav a:hover{
background: rgba(0,0,0,.25)
}

main{
padding: 5px 20px;
}

main h1 {
display: flex;
flex-direction: row;
justify-content: center;
text-align: center;
font-weight: 900;
color: #073D2C;
}

dl{
display: grid;
grid-template: auto / 3fr 1fr;
}

dt{
font-weight: 800;
grid-column: 1;
padding: .55em 0;
border-bottom:2px solid #073D2C;
}

dd{
margin: 0;
grid-column: 2;
padding: .55em 0;
border-bottom:2px solid #073D2C;
}

.related-links{
display: flex;
justify-content: center;
list-style: none;
padding: 0;
flex-wrap: row;
}

.related-links a{
border: 1px solid #073D2C;
padding: 5px 8px;
text-align: center;
text-decoration: none;
text-transform: uppercase;
color: #58D6AE;
font-size: .85em;
background: rgba(0,0,0,.5);
transition: background-color 0.5s ease;
color:#86B051
}

.related-links a:hover{
background:rgba(0,0,0,.25);
}

.related-links li{
margin-right:10px;
}

#skills{
color: #073D2C;
}

#skills h2{
text-decoration: underline;
font-variant: small-caps;
color: #073D2C;
}

#skills li{
list-style-type: lower-greek;
color: #073D2C;
}
.mitch{
display:grid;
}
.job, .certificate{
border-bottom:1px solid #073D2C;
padding-bottom: 25px
}
.job *[itemprop="jobTitle"],
.job *[itemprop="name"],
.job *[itemprop="url"],
.job *[itemprop="addressLocality"],
.certificate *[itemprop="name"],
{
display:block;
}

#experience h2{
text-decoration: underline;
font-variant: small-caps;
color: #073D2C;
}

#experience{
color: #073D2C;
}

.job h3{
margin:20px 0 5px 0;
font-variant: small-caps;
}

footer{
text-align:center;
padding: 20px 0
}

/*-------------now that everything has been arranged, set up your grid-----------*/
.page-title{
grid-area:title;
}

#about{
grid-area:about;
}

#skills{
grid-area:skills;
}

#experience{
grid-area:experience;
}

#education{
grid-area:education;
}

main{
display:grid;
grid-gap:.5em;
grid-template-areas: 
  "title"
  "about"
  "skills"
  "experience"
  "education";
}


/*-------------------------------Media Queries-------------------------*/

/*----------mobile size-------------*/
@media screen and (min-width: 390px){
.container{max-width: 675px}
main.container{
  grid-template-columns: 95%;
  grid-template-areas: 
    "title"
    "about"
    "skills" 
    "experience"
    "education";
}
#about{
  display: grid;
  grid-gap: 2.5em;
  grid-template-columns: repeat(1, 100%);
  grid-template-areas:
    "mitch"
    "bio"
    "details"
    "related";
}
.mitch{
  grid-area:mitch;
  justify-content: center;
}
.bio{
  grid-area:bio;
}
.details{
  grid-area:details;
}
.related-links{
  grid-area: related;
  border-bottom: 1px solid #073D2C;
  padding-bottom: 25px;
  
}



}
/*----------tablet size-------------*/
@media screen and (min-width: 675px){
.container{max-width:900px}
main.container {
  grid-template-columns: 23.5% auto;
  grid-template-areas:
    "title title"
    "about about"
    "skills experience"
    ". education";
}

#about{
  display:grid;
  grid-gap:1.5em;
  grid-template-columns: 1fr 35% 40%;
  grid-template-areas:
    "mitch bio bio"
    "details details details"
    "related related related";
}
.mitch{
  grid-area:mitch;
}
.bio{
  grid-area:bio;
  border-right: 1px solid #073D2C;
}
.details{
  grid-area:details;
}
.related-links{
  grid-area: related;
  border-bottom: 1px solid #073D2C;
  padding-bottom: 50px
}

}
/*----------full size---------------*/
@media screen and (min-width:901px){
.container{max-width: 1400px}
main.container{
  grid-template-columns: repeat(4, 1.5fr);
  grid-template-areas:
    "title title title title"
    "about about skills skills"
    "about about skills skills"
    "education education education"
    "experience experience experience";
}
#about{
  display:grid;
  grid-template-columns: repeat(3, 1.5fr);
  grid-template-areas:
    "details details details"
    "bio bio bio"
    "related related related";
}

}
.details{
  grid-area:details;
}
.related-links{
  grid-area: related;
  border-bottom: 1px solid #073D2C;
  padding-bottom: 75px
}
#skills{
  display:grid;

}
.skill{
  grid-area: skill;
}
.jsSkill{
  grid-area: skill;
}

