
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/*Nicolas Gallagher http://nicolasgallagher.com/micro-clearfix-hack/ */
/* Start of "Micro clearfix" */

.cf {
  zoom: 1;
}
.cf:before,
.cf:after {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

/* End of "Micro clearfix" */

/*
background-image:url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/7248/grid-1.png");*/

.container {
  width: 68vw;
  margin: 1.041% auto;
}

header.primary {
  width: 98.337%;
  margin: 1.041%;
  float: left;
}

ul {
  list-style-type:none;
}

#content {
  float: left;
  width: 48.837%;
  padding: 1.041%;
  margin-top: 1.041%;
}

aside {
  width: 48.837%;
  float: left;
  margin-left: 1.041%;
  margin-top: 1.041%;
}

footer.primary {
  width: 98.337%;
  float: left;
  padding: 1.041%;
  margin-top: 1.041%;
  text-align: center;
}
@media screen and (max-width: 650px) {
  .meat{
    float:none;
    width:90%;
    margin:5px auto;
    background-color:blue;
  }
  .potatoes{
    float:none;
    width:90%;
    margin:5px auto;
    background-color:red;
  }
  .primary{
    float:none;
    width:100%;
    background-color:rosybrown;
    font-weight:bold;
    text-align:center;
    margin:5px auto;
  }
}
@media screen and (min-width:651px) and (max-width:959px) {
  .meat{
    float:none;
    width:90%;
    margin:7.5px auto;
    background-color:aquamarine

  }
  .potatoes{
    float:none;
    width:90%;
    margin:7.5px auto;
    background-color:blueviolet
  }
  .primary{
    float:none;
    width:100%;
    background-color:forestgreen;
    font-weight:italic;
    text-align:center;
    margin:7.5px auto
  }
}
@media screen and (min-width: 960px) {
  .meat{
    float:none;
    width:48.837%;
    margin:10px auto;
    background-color:darkgoldenrod;
  }
  .potatoes{
    float:none;
    width:48.837%;
    margin:10px auto;
    background-color:indigo;
  }
  .primary{
    float:none;
    width:100%;
    background-color:indianred;
    font-weight:underline;
    text-align:center;
    margin:10px auto;
  }
}